
.transparent {
  opacity: 0;
}

.faded {
  opacity: 0.5;
}

#app-guide-workspace {
  background-color: $background-color;
  flex: 1 1 0;
  @include flex-row;

  .app-illustrations {
    flex: 1;
    margin-top: 20px;
    margin-right: 5%;
    margin-left: 10%;
    margin-bottom: 20px;

    position: relative;
    img {
      max-height: 100%;
      @include fix-centered;
      transition: opacity 0.2s ease-in-out;
    }
  }

  .app-instructions {
    flex: 2;
    @include flex-col;
    justify-content: space-around;

    margin-right: 5%;

    font-size: xx-large;
    font-size: 1.8vw;

    li {
      transition: opacity 0.2s ease-in-out;
    }
  }
}