$background-color: #0B1F52;
$button-color: #0073be;
$text-color-dark: #818181;
$text-color-bright: white;
$text-color-bright-fade: rgba($text-color-bright, 0.66);

$dark-blue: #0a2d82;
$blue: #2c49b1;
$light-grey: #eee;
$greenish: #d3d62e;
