.viewport.home {
  height: unset;

  #main-container {
    flex: unset;
    display: block;
  }

  header {
    background-color: $dark-blue;
    color: white;
  }
}

#home {
  color: black;
  font-family: Arial;

  h1, h2, h3 {
    font-family: 'Quicksand';
  }

  h3 {
    color: $dark-blue;
  }

  button {
    display: block;
    width: 20rem;
    margin: 0 auto;
    border-radius: 5px;
    font-size: 1.1rem;
    font-family: Arial;
    font-weight: normal;
    text-transform: unset;
  }

  .blank {
    position: relative;
    height: 30px;
    background-color: white;

    div {
      @include flex-col;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      box-sizing: border-box;
      position: absolute;
      top: -25px;
      background-color: white;
      border-radius: 5px;

      img {
        width: 100%;
      }

      &:first-child {
        left: 2rem;
      }

      &:last-child {
        padding: .5rem;
        right: 2rem;
      }
    }
  }

  section {
    height: 30rem;
    padding: 3rem 0;

    &:first-child {
      background-color: $dark-blue;
    }
    &:nth-of-type(2) {
      background-color: $light-grey;
    }
    &:nth-of-type(3) {
      position: relative;

      .background {
        z-index: -1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.6;
        background-image: url('../images/home/contact.png');
        background-size: cover;
      }
    }
  }

  .carousel {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    > .content {
      width: 70vw;

      display: flex;

      .tiles {
        display: flex;
        transform: translateX(-100vw);
        transition: transform 1s;
      }

      .tile {
        width: 70vw;
        margin: 0;
        margin-right: 30vw;
      }

      .advice-wrapper {
        position: relative;
        max-width: 60rem;
        margin: 0 auto;

        > img {
          width: 100%;
          height: 30rem;
        }
      }

      .advice {
        display: flex;
        flex-direction: column;
        position: absolute;
        padding: 3rem;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-size: cover;

        h2 {
          text-align: center;
          margin-bottom: 1rem;
        }

        .content-wrapper {
          flex: 1 0;
          display: flex;
          box-sizing: border-box;
          position: relative;

          div {
            box-sizing: border-box;
            flex: 0 1 50%;

            &.img {
              background-size: contain;
              background-position: center;
              background-repeat: no-repeat;
            }

            &.content {
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding-left: 2rem;
              flex: 1 0 50%;
            }

            p {
              margin: .5rem;
              text-align: justify;
              white-space: pre-line;
            }
          }

          img {
            width: 100%;
          }
        }
      }
    }

    .arrow {
      cursor: pointer;
      flex: 1 0;
      text-align: center;
      z-index: 10;

      img {
        width: 4rem;
      }

      &:first-child {
        transform: rotate(180deg);
      }
    }
  }

  .offers {
    ul {
      @include flex-row;
      justify-content: space-around;
      height: 20rem;
      max-width: 50rem;
      margin: 3rem auto;

      a {
        @include flex-row;
      }

      li {
        cursor: pointer;
        width: 12rem;
        padding: 2rem 1rem;
        align-items: stretch;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 0px 30px 1px rgba(0,0,0,0.1);
        font-size: 1.1rem;
        text-align: center;

        &:hover {
          box-shadow: 0px 0px 30px 1px $dark-blue;
        }

        h3 {
          height: 4rem;
          font-size: 1.5rem;
        }

        p {
          margin: 1.5rem;
          line-height: 1.3rem;
        }
      }
    }

    button {
      height: 3rem;
      border: 2px solid $blue;
      background-color: white;
      color: $blue;

      &:hover {
        background-color: $blue;
        color: white;
      }
    }
  }

  .contact {
    h2 {
      color: white;
      font-size: xx-large;
      text-align: center;
    }

    form {
      max-width: 50rem;
      margin: 2rem auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      input, textarea {
        box-sizing: border-box;
        margin: .5rem 0;
        padding: .5rem 1rem;
        border: none;
        border-radius: 5px;
        font-size: 1.1rem;

        &::placeholder {
          color: #aaa;
        }
      }

      input {
        width: 30%;
        margin-right: 5%;

        &::before {
          content: "*";
          color: red;
        }

        &:invalid {
          color: red;
        }

        &:nth-child(4n+3) {
          margin-right: 0;
        }
      }

      textarea {
        width: 100%;
        height: 10rem;
      }
    }

    button {
      height: 4rem;
      border: 2px solid white;
      font-size: 1.5rem;
      color: white;
      background-color: transparent;

      &:hover {
        border: none;
        background-color: $greenish;
        color: black;
      }
    }

    .form-info {
      display: none;
      text-align: center;

      &.visible {
        display: block;
      }

      &.error {
        color: red;
      }

      &.sent {
        color: green;
      }
    }
  }
}

@media (max-width: 900px) {
  #home .content-wrapper .img {
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    opacity: .25;
  }
}
