@import "fonts";

$background-color: #0B1F52;

$header-margin: 48px;

$button-color: #0073be;
$text-color-dark: #818181;

$header-height: 80px;
$footer-height: 60px;

$logo-size: 64px;

$text-color-bright: white;
$text-color-bright-fade: rgba($text-color-bright, 0.66);

body, html {
  background: white;
  font-family: 'Quicksand';
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin fix-centered-h {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@mixin fix-centered-v {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin fix-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin prevent-selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html, .viewport {
  @include flex-col;
  width: 100%;
  height: 100%;
  margin: 0;
}

#main-container {
  color: $text-color-bright;
  flex: 1 1 0;
  @include flex-col;
  @include prevent-selection;
}

header, footer {
  @include flex-row;
  flex: 0 0 auto;
  padding-left: $header-margin;
  padding-right: $header-margin;

  align-items: center;

  color: $text-color-dark;
}

header {
  height: $header-height;
  position: relative;

  button {
    position: absolute;
    left: $header-margin;
    @include fix-centered-v;
  }

  .notification-group {
    position: absolute;
    right: $header-margin;
    @include fix-centered-v;
//    font-size: ;
  }

  h1 {
    font-weight: bold;
    font-size: xx-large;
    flex: 1 1 0;
    text-align: center;
  }
}

footer {
  height: $footer-height;
  position: relative;

  .disclaimer {
    flex: 1 1 0;
    text-align: center;
  }

  .logo {
    z-index: 10;
    position: absolute;
    width: auto;
    height: $logo-size;
    right: $header-margin;
    bottom: 0;
    padding: 16px;
    border-radius: 24px;
    background: white;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  #version-info {
    position: absolute;
    left: $header-margin;
    @include fix-centered-v;
    font-size: x-small;
    color: lighten($text-color-dark, 20%);
  }
}

.hidden {
  visibility: hidden;
}

.undisplayed {
  display: none !important;
}

.transparent {
  opacity: 0;
}

.faded {
  opacity: 0.5;
}

.opaque {
  opacity: 1;
}

.js-trigger {
  cursor: pointer;
  color: blue;
  text-decoration: underline;

  &:hover, &:active {
    color: darken(blue, 20%);
  }
}

button {
  text-transform: uppercase;
  font-size: xx-large;
  font-weight: bold;
  font-family: 'Quicksand';

  padding: 6px 18px;

  border: none;
  background: $button-color;
  border-radius: 12px;
  color: $text-color-bright;

  text-decoration: none;
  @include prevent-selection;

  &:hover, &:focus {
    cursor: pointer;
    background: darken($button-color, 10%);
    outline: none;
    border: none;
  }

  &:active {
    background: lighten($button-color, 10%);
  }
}

@import "home";
@import "assise";
@import "app-guide";
@import "app-exercise-stress";
