<div class="app-main" id="app-guide-posture">
    <div class="app-page app-page-1">
        <div class="app-illustrations">
            <div class="step step-0 step-image"><img src="../images/posture/posture_step-0.png" alt="Illustration"></div>
            <div class="transparent step step-1 step-image"><img src="../images/posture/posture_step-1.png" alt="Illustration">
            </div>
            <div class="transparent step step-2 step-image"><img src="../images/posture/posture_step-2.png" alt="Illustration">
            </div>
            <div class="transparent step step-3 step-image"><img src="../images/posture/posture_step-3.png" alt="Illustration">
            </div>
            <div class="transparent step step-4 step-image"><img src="../images/posture/posture_step-4.png" alt="Illustration">
            </div>
            <div class="transparent step step-5 step-image"><img src="../images/posture/posture_step-5.png" alt="Illustration">
            </div>
            <div class="transparent step step-6 step-image"><img src="../images/posture/posture_step-6.png" alt="Illustration">
            </div>
            <div class="transparent step step-7 step-image"><img src="../images/posture/posture_step-7.png" alt="Illustration">
            </div>
            <div class="transparent step step-8 step-image"><img src="../images/posture/posture_step-8.png" alt="Illustration">
            </div>
        </div>
        <div class="app-texts">
            <ul aria-label="Asseyez-vous face à votre poste de la manière suivante:">
                <li class="transparent step step-1 step-text">Pieds parallèles, posés au sol ou sur un marche pied</li>
                <li class="transparent step step-2 step-text">Genoux à hauteur et à largeur de bassin, formant un angle à 90°</li>
                <li class="transparent step step-3 step-text">Fesses tirées vers l’arrière, et relevées</li>
                <li class="transparent step step-4 step-text">Cambrez légèrement le bas du dos</li>
                <li class="transparent step step-5 step-text">Coudes pliés à 90° et avant-bras parallèles au sol</li>
                <li class="transparent step step-6 step-text">Montez/bombez le torse/la poitrine et serrez le bas des omoplates</li>
                <li class="transparent step step-7 step-text">Gardez la tête dans l’axe du dos, la tête ne doit pas être projetée en avant, le menton doit rester à l’horizontale</li>
                <li class="transparent step step-8 step-text">Gardez le poignet droit lors du déplacement de la souris en utilisant tout le bras à partir de l'épaule</li>
            </ul>
        </div>
    </div>
    <div class="app-page app-page-2 undisplayed">
        <div class="app-illustrations">
            <div class="step step-0 step-image"><img src="../images/posture/posture_step-0.png" alt="Illustration"></div>
        </div>
        <div class="app-texts">
            <ul aria-label="Conseils & Astuces">
                <li class="transparent step step-1 step-text">L’utilisation du ballon doit rester confortable et indolore.</li>
                <li class="transparent step step-2 step-text">Ne pas hésiter à changer d’assise lorsqu’une fatigue ou douleur se fait sentir.</li>
                <li class="transparent step step-3 step-text">Il n’y a aucune contre indication temporelle à l’usage du ballon, écoutez simplement votre corps.</li>
                <li class="transparent step step-4 step-text">Arrêter dès le moindre signe de vertige, nausée, ou malaise.</li>
            </ul>
        </div>
    </div>
</div>