<div class="app-main" id="app-exercise-pelvis">
    <!--${require('./partial/warm-up.html')}-->
    <div class="app-page app-page-1 undisplayed">
        <div class="app-illustrations">
            <div class=""><img src="../images/pelvis/pelvis_step-0.png" alt="Illustration"></div>
        </div>
        <div class="app-texts">
            <p class="">Vous pouvez lâcher les bras ou poser les mains contre votre torse.</p>
        </div>
    </div>
    <div class="app-page app-page-2 undisplayed">
        <div class="app-illustrations">
            <div class="step step-0 step-inspiration step-image"><img src="../images/pelvis/pelvis_step-1.png" alt="Illustration"></div>
            <div class="transparent step step-1 step-expiration step-image"><img src="../images/pelvis/pelvis_step-2.png" alt="Illustration"></div>
            <div class="transparent step step-inspiration-advice step-image"><img src="../images/pelvis/pelvis_step-3.png" alt="Illustration"></div>
        </div>
        <div class="app-texts">
            <div class="app-instructions">
                <div class="step step-0 step-inspiration">
                    <p class="step-text">Tout en expirant et en poussant sur vos talons, enrouler le bassin pour accentuer la cambrure du dos.</p>
                    <img class="step-icon" src="../images/icons/Icon_inspiration.png">
                </div>
                <div class="step step-1 step-expiration">
                    <p class="transparent step-text">Revenir dans la position initiale en inspirant, le dos bien droit.</p>
                    <img class="transparent step-icon" src="../images/icons/Icon_expiration.png">
                </div>
            </div>
            <div class="app-advices transparent">
                <h2>Conseils & Astuces</h2>
                <p class="step step-text step-inspiration">Lorsque vous amenez le bassin en arrière, vous devez sentir la cambrure du bas du dos augmenter. La fatigue se fera sentir dans cette zone.</p>
                <p class="undisplayed step step-text step-respiration">Arrêtez l’exercice quand la fatigue ou l’inconfort se fait sentir.</p>
            </div>
        </div>
    </div>
</div>