<div id="app-guide-workspace">
    <div class="app-illustrations">
        <img class="step-0" src="../images/workspace/workspace_base.png" alt="Illustration">
        <img class="transparent step-1" src="../images/workspace/workspace_step-3.png" alt="Illustration">
        <img class="transparent step-2" src="../images/workspace/workspace_step-2.png" alt="Illustration">
        <img class="transparent step-3" src="../images/workspace/workspace_step-1.png" alt="Illustration">
        <img class="transparent step-4" src="../images/workspace/workspace_step-4.png" alt="Illustration">
        <img class="transparent step-5" src="../images/workspace/workspace_step-5.png" alt="Illustration">
    </div>
    <ul class="app-instructions">
        <li class="transparent step-1">Ajuster votre chaise ou gonfler le ballon de manière à avoir les avants-bras à angle droit avec les bras et
            posés sur le bureau. Les épaules doivent être détendues.</li>
        <li class="transparent step-2">Avoir les pieds bien ancrés et les genoux à hauteur des hanches. Utiliser un marche pied si nécessaire.</li>
        <li class="transparent step-3">Se tenir droit en gardant la cambrure du dos. Si possible, adapter votre dossier.</li>
        <li class="transparent step-4">Garder votre matériel à portée de main pour éviter d'avoir à vous étirer ou vous pencher.</li>
        <li class="transparent step-5">Régler la hauteur de l’écran de manière à avoir la première ligne de texte à hauteur des yeux ou légèrement
            en dessous et la tête droite.</li>
    </ul>
</div>