<div class="app-main" id="app-exercise-breath">
    <!--${require('./partial/warm-up.html')}-->
    <div id="breath-guide" class="app-phase undisplayed">
        <div class="app-illustrations">
            <div class="step step-0"><img src="../images/breath/breath_step-0.png" alt="Illustration"></div>
            <div class="transparent step step-1"><img src="../images/breath/breath_step-1.png" alt="Illustration"></div>
            <div class="transparent step step-2"><img src="../images/breath/breath_step-2.png" alt="Illustration"></div>
            <div class="transparent step step-3"><img src="../images/breath/breath_step-3.png" alt="Illustration"></div>
            <div class="transparent step step-3"><img src="../images/breath/breath_step-4.png" alt="Illustration"></div>
        </div>
        <div class="app-texts">
            <div class="app-instructions" style="flex: 4;">
                <p class="step step-0">Mettez une main sur le ventre, l’autre sur le thorax.</p>
                <p class="transparent step step-1"><img class="step-icon transparent step-1" src="../images/icons/Icon_inspiration.png">Inspirez en gonflant le ventre et le thorax, sans lever les épaules.</p>
                <p class="transparent step step-2"><img class="step-icon transparent step-2" src="../images/icons/Icon_expiration.png">Expirez et sentez votre ventre se dégonfler et votre thorax se rabaisser.</p>
                <p class="transparent step step-3">Répétez de manière fluide, sans jamais forcer.</p>
            </div>
            <div class="app-advices transparent" style="flex: 2;">
                <p>Conseils & Astuces</p>
                <p class="step step-1">L’utilisation du ballon doit rester confortable et indolore.</p>
                <p class="undisplayed step step-2">Ne pas hésiter à changer d’assise lorsqu’une fatigue ou douleur se fait
                    sentir.
                </p>
                <p class="undisplayed step step-3">Il n’y a aucune contre indication temporelle à l’usage du ballon,
                    écoutez simplement votre corps.
                </p>
                <p class="undisplayed step step-4">Arrêter dès le moindre signe de vertige, nausée, ou malaise.</p>
            </div>
        </div>
    </div>
</div>