<div class="app-main" id="app-guide-posture">
    <div class="app-illustrations">
        <img class="step step-0" src="../images/posture/posture_step-0.png" alt="Illustration">
        <img class="transparent step step-1" src="../images/posture/posture_step-1.png" alt="Illustration">
        <img class="transparent step step-2" src="../images/posture/posture_step-2.png" alt="Illustration">
        <img class="transparent step step-3" src="../images/posture/posture_step-3.png" alt="Illustration">
        <img class="transparent step step-4" src="../images/posture/posture_step-4.png" alt="Illustration">
        <img class="transparent step step-5" src="../images/posture/posture_step-5.png" alt="Illustration">
        <img class="transparent step step-6" src="../images/posture/posture_step-6.png" alt="Illustration">
        <img class="transparent step step-7" src="../images/posture/posture_step-7.png" alt="Illustration">
        <img class="transparent step step-8" src="../images/posture/posture_step-8.png" alt="Illustration">
    </div>
    <div class="app-texts">
        <ul class="app-instructions" aria-label="Asseyez-vous face à votre poste de la manière suivante:">
            <li class="transparent step step-1">Pieds parallèles, posés au sol ou sur un marche pied</li>
            <li class="transparent step step-2">Genoux à hauteur et à largeur de bassin, formant un angle à 90°</li>
            <li class="transparent step step-3">Fesses tirées vers l’arrière, et relevées</li>
            <li class="transparent step step-4">Cambrez légèrement le bas du dos</li>
            <li class="transparent step step-5">Coudes pliés à 90° et avant-bras parallèles au sol</li>
            <li class="transparent step step-6">Montez/bombez le torse/la poitrine et serrez le bas des omoplates</li>
            <li class="transparent step step-7">Gardez la tête dans l’axe du dos, la tête ne doit pas être projetée en avant,
                le
                menton doit rester à l’horizontale
            </li>
            <li class="transparent step step-8">Gardez le poignet droit lors du déplacement de la souris en utilisant tout le
                bras à partir de l'épaule
            </li>
        </ul>
        <ul class="app-advices undisplayed" aria-label="Conseils et Astuces">
            <li class="step step-1">L’utilisation du ballon doit rester confortable et indolore.</li>
            <li class="step step-2">Ne pas hésiter à changer d’assise lorsqu’une fatigue ou douleur se fait sentir.</li>
            <li class="step step-3">Il n’y a aucune contre indication temporelle à l’usage du ballon, écoutez simplement votre
                corps.
            </li>
            <li class="step step-4">Arrêter dès le moindre signe de vertige, nausée, ou malaise.</li>
        </ul>
    </div>
</div>