<div id='douleur'>
  <section id='selector' class='selector'>
    <div id='silhouette' class='silhouette'>
      <img src='../images/douleur/silhouette_homme_dos.png' hidden />
      <img src='../images/douleur/silhouette_homme_face.png' hidden />
      <img src='../images/douleur/silhouette_femme_dos.png' hidden />
      <img id='img' src='../images/douleur/silhouette_femme_face.png' />
      ${require('./partial/silhouette.html')}
      <button id='switch-side' class='switch-side'>
        <!-- <img src='../images/douleur/bouton_change.png' alt='Retourner la silhouette'> -->
      </button>
      <button id='switch-gender' class='switch-gender female'>
        <!-- <img src='../images/douleur/bouton_homme.png' alt='Changer le sexe'> -->
      </button>
    </div>
  </section>
  <section id='conseils' class='conseils'>
    <ul id='infos' class='infos hidden'>
      <li id='info-head' class='info hidden'>
        <img src='../images/douleur/info_bulle.png' />
        <h2>Maux de tête</h2>
        <p>Il peut y avoir de nombreuses causes :</p>
        <ul>
          <li>
            Une posture assise mal adaptée peut compresser vos vaisseaux sanguins. Vous pouvez consulter <a href='#assise/app-guide-workspace' target='_blank'>notre guide de
            bonne posture devant l’écran.</a>
          </li>
          <li>
            Trop de préoccupations, trop de sollicitations, trop de travail … il est temps de prendre une petite pause pour éviter
            la surcharge. Essayez de vous reposer 5 min dans un endroit calme, les yeux fermés en vous concentrant sur votre
            respiration. Une balade ou une sieste si vous pouvez pourrait vous faire du bien.
          </li>
          <li>
            Est-ce que ce mal de crâne est couplé à un mal de ventre ? <a href='#assise/app-exercise-stress-2' target='_blank'>Un petit exercice de respiration</a> vous ferait le plus grand
            bien.
          </li>
          <li>
            Est-ce que vos yeux sont fatigués ? Vous voyez flou en fin de journée ? Si vous travaillez souvent sur écran, il est
            recommandé de consulter un orthopsiste régulièrement.
          </li>
        </ul>
      </li>
      <li id='info-shoulders' class='info hidden'>
        <img src='../images/douleur/info_bulle.png' />
        <h2>Cou et Trapèzes</h2>
        <p>Cela peut être lié à votre posture assise et en particulier à la hauteur de l’écran. Devant votre écran, votre tête doit
        être droite et vos yeux regarder à l’horizon, droit devant vous.</p>
        <p>Vous pouvez consulter <a href='#assise/app-guide-workspace' target='_blank'>notre guide de bonne posture devant l’écran.</a></p>
      </li>
      <li id='info-back' class='info hidden'>
        <img src='../images/douleur/info_bulle.png' />
        <h2>Dos</h2>
        <p>
          Le mal de dos lié à une posture prolongée devant l’écran n’est pas une fatalité.
          <a href='#assise' target='_blank'>Notre guide bonne posture</a> est là pour vous accompagner.
        </p>
        <p>
          Pensez également à pratiquer une activité physique régulière et à vous étirer un peu tous les soirs.
        </p>
        <p>
          Si les douleurs sont régulières, il faut consulter un médecin spécialisé sur la lombalgie.
        </p>
      </li>
      <li id='info-belly' class='info hidden'>
        <img src='../images/douleur/info_bulle.png' />
        <h2>Ventre</h2>
        <p>
          Bien respirer et corriger sa posture peut soulager votre ventre.
        </p>
        <p>
          Essayez de ne pas manger trop lourd, de varier votre alimentation et de bien manger. La pause repas est un moment pour
          se détendre et prendre un peu de temps pour soi. Evitez les repas rapidement expédiés pour gagner du temps.
        </p>
      </li>
      <li id='info-hips' class='info hidden'>
        <img src='../images/douleur/info_bulle.png' />
        <h2>Fesses et coccyx</h2>
        <p>
          Cela peut être lié à votre assise. Essayez de changer de fauteuil. Avez vous déjà essayé l’assise dynamique sur ballon ?
          Consultez <a href='#assise'>notre guide de bonne posture.</a>
        </p>
      </li>
      <li id='info-legs' class='info hidden'>
        <img src='../images/douleur/info_bulle.png' />
        <h2>Jambes</h2>
        <p>
          Une mauvaise posture, des jambes croisées, un siège trop haut ou trop bas, être assis trop longtemps peuvent gêner la
          circulation sanguine. Si vous avez mal aux jambes il est conseillé de bouger. Faites une pause et allez marcher un peu.
          Vous pourriez prendre un café et discuter debout avec un collègue ?
        </p>
        <p>
          Pensez à <a href='#assise/app-guide-breath' target='_blank'>bien respirer</a> et à <a href='#assise/app-guide-workspace' target='_blank'>corriger votre posture assise.</a>
        </p>
      </li>
      <li id='info-arms' class='info hidden'>
        <img src='../images/douleur/info_bulle.png' />
        <h2>Bras, poignets, membres supérieurs</h2>
        <p>
          Des douleurs dans les bras ou les poignets sont souvent liés à la posture assise. Votre fauteuil ou votre bureau ne sont
          peut-être pas réglés à la bonne hauteur.
        </p>
        <p>
          Nous vous conseillons de consulter <a href='#assise/app-guide-workspace' target='_blank'>notre guide de bonne posture</a>, et peut-être de consulter un ergonome pour améliorer votre installation matérielle.
        </p>
      </li>
    </ul>
  </section>
</div>
