<div id="home">
    <div class="section-row section-titles-row">
        <div class="section section-title">
            <h2>Ergonomie au bureau</h2>
        </div>
        <div class="section section-title">
            <h2>Respiration et gestion du stress</h2>
        </div>
        <div class="section section-title">
            <h2>Bien-être du dos</h2>
        </div>
    </div>

    <div class="section-row section-apps-row">
        <div class="section app-container">
            <div class="app app-guide" data-app-id="app-guide-workspace">
                <div class="app-icon">
                    <img src="../images/icons/Icon_workspace.png" alt="Icône espace de travail">
                </div>
            </div>
        </div>
        <div class="section app-container">
            <div class="app app-guide" data-app-id="app-guide-breath">
                <div class="app-icon">
                    <img src="../images/icons/Icon_breath.png" alt="Icône respiration">
                </div>
            </div>
        </div>
        <div class="section app-container">
            <div class="app app-exercise" data-app-id="app-exercise-pelvis">
                <div class="app-icon">
                    <img src="../images/icons/Icon_pelvis.png" alt="Icône bassin">
                </div>
            </div>
        </div>
    </div>

    <div class="section-row section-titles-row">
        <div class="section app-title">
            <h3 data-app-id="app-guide-workspace">Adapter son espace de travail</h3>
        </div>
        <div class="section app-title">
            <h3 data-app-id="app-guide-breath">Apprentissage de la bonne respiration</h3>
        </div>
        <div class="section app-title">
            <h3 data-app-id="app-exercise-pelvis">Mobilité du bassin</h3>
        </div>
    </div>

    <div class="section-row section-apps-row">
        <div class="section app-container">
            <div class="app app-guide" data-app-id="app-guide-posture">
                <div class="app-icon">
                    <img src="../images/icons/Icon_posture.png" alt="Icône posture">
                </div>
            </div>
        </div>
        <div class="section app-container">
            <div class="app app-exercise" data-app-id="app-exercise-stress">
                <div class="app-icon">
                    <img src="../images/icons/Icon_stress.png" alt="Icône réduction du stress">
                </div>
            </div>
        </div>
        <div class="section app-container">
            <div class="app app-exercise" data-app-id="app-exercise-strengthening">
                <div class="app-icon">
                    <img src="../images/icons/Icon_abdominal.png" alt="Icône gainage">
                </div>
            </div>
        </div>
    </div>

    <div class="section-row section-titles-row">
        <div class="section app-title">
            <h3 data-app-id="app-guide-posture">Bonne posture</h3>
        </div>
        <div class="section app-title">
            <h3 data-app-id="app-exercise-stress">Réduction du stress</h3>
        </div>
        <div class="section app-title">
            <h3 data-app-id="app-exercise-strengthening">Renforcement musculaire</h3>
        </div>
    </div>

    <div class="section-row section-padding-row">
        <div class="section"></div>
        <div class="section"></div>
        <div class="section"></div>
    </div>
</div>
